/*************nav start**************/
.sub{
    display: none;
    color: #ed3267;
    cursor: pointer;
}
#nav{
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    z-index: 1;
    height: 75px;
    background: #fff;
    -webkit-box-shadow: 0 0 12px 0 #d5d5d5;
    -moz-box-shadow: 0 0 12px 0 #d5d5d5;
    box-shadow: 0 0 12px 0 #d5d5d5;
}
#brand{
    display: inline-block;
    color: #ed3267;
    height: 100%;
    line-height: 75px;
    font-size: 30px;
    font-weight: bold;
}
#nav-bar{
    float: right;
    height: 45px;
    line-height: 45px;
    margin: 15px 0;
}
#nav-bar li{
    text-align: center;
    float: left;
    width: 45px;
    margin: 0 5px;
    font-weight: bold;
    cursor: pointer;
}
#nav .active{
    background: #ed3267;
    color: #fff;
}
#menu{
    width: 40px;
    height: 45px;
    border: 2px solid #ddd;
    overflow: hidden;
    padding: 0 5px;
    display: none;
    float: right;
    margin: 15px 0;
    border-radius: 5px;
}
#menu span{
    display: block;
    width: 26px;
    height: 2px;
    margin: 9px 0;
    background: #ed3267;
}
/******************nav end *************/
/*******************banner start*******************/
#banner{
    height: 575px;
    background: url("../img/sky.jpg") no-repeat 0px 0/cover;
    position: relative;
}
#canvas{
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    height: 565px;
    width: 100%;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
#content{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#content p{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    animation: flip 1s linear;
}
#content button{
    width: 95px;
    height: 40px;
    margin: 10px;
    background: #ffffff;
    border: 0;
}
#content .selected{
    background: #ed3267;
    color: #ffffff;
}
/*****************banner end*************/
/*******about  start******************************/
#about{
    overflow: hidden;
}
#about h1,#project h1{
    color: #ed3267;
    margin-top: 70px;
    margin-bottom: 40px;
}
.aimg1{
    background: url("../img/black2.jpg") no-repeat center;
    background-size: cover;
    height: 300px;
    position: relative;
}
.aimg1 p{
    width: 60%;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.aimg2{
    background: url("../img/black.jpg") no-repeat center;
    background-size: cover;
    height: 300px;
    text-align: center;
    line-height: 300px;
    color: #ffffff;
    font-size: 20px;
}
.fa{
    width: 20px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.fa:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.js-icon{
    display: inline-block;
    width: 20px;
}
.js-icon img{
    width: 20px;
}
.myself{
    margin-top: 70px;
    background: url("../img/black.jpg") no-repeat 0 0/cover;
    padding-top: 135.9%;
}

#about button{
    width: 95px;
    height: 40px;
    margin: 10px;
    background: #ed3267;
    color: #fff;
    border: 0;
    margin: 150px;
}
.self-info{
    padding: 0;
    margin: 10px 0;
}
.self-info li{
    text-align: center;
    border-bottom: 3px solid #ccc;
    margin-bottom: 12px;
}
/**********about end*****************/
/********skills start**************/
#skills{
    background: url("../img/skills-bg.jpg") no-repeat 50% 0/cover fixed;
}
#skills .fa{
    width: 100px;
}
#skills i{
    width: 100px;
    height: 100px;
    font-size: 100px;
    margin: 50px;
    color: #fff;
    text-align: center;
}
#skills h3{
    color: #ed3267;
    margin-bottom: 10px;
}
/*******skills end************/
/**********my-skills start***********/
#my-skills h1{
    color: #ed3267;
    margin-top: 70px;
    margin-bottom: 40px;
}
#my-skills{
    background:#fff;
    color:#ed3267;
    font-weight: bold;
}
#my-skills p{
    border-bottom: 3px solid #000;
}
.skills-bg{
    height: 300px;
    background: url("../img/skills-bg.jpg") no-repeat 50% 0/cover fixed;
}
#my-skills .active{
    background: #fff;
}
/**********my-skills end***********/
/***********project start***************/
#container{
    width: 100%;
    height: 600px;
}
/**********project end************/
/*****contact-me start***********/
#contact-me{
    padding: 70px 0;
    background: #ed3267;
    color: #fff;
    font-weight: bold;
}
/*****contact-me end***********/

@media(max-width: 768px){
    #menu{
        display: block;
    }
    #nav-bar{
        display: none;
    }
    #banner{
        background-position: center;
    }
    #content{
        width: 115px;
    }
    #about button{
        width: 100%;
        margin: 60px 0;
    }
    #skills .fa{
        margin: 10px;
    }
}
















